.main{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: rgb(3, 3, 47);
  color: white;
  padding-left:80px ;
}
.logo {
  display: flex;
  align-items: center;
  list-style: none;
}
.logo ul{
 display: flex;
 list-style: none;
}
.logo ul li{
  justify-content: space-evenly;
  width: 80px;
}
.logo ul li a{
  text-decoration: none;
  color: white;
}
.menu{
  padding-left: 180px;
}
.menu ul{
display: flex;
list-style: none;
}
.menu ul li{
  justify-content: space-evenly;
  width: 200px;
}